/* ==================
     Variables
================== */
@font-face {
    font-family: pretendo;
    src: url(../fonts/Pretendo.ttf) format("truetype");
    unicode-range: U+41-5A, U+61-7A;
}

* {
    box-sizing: border-box;
    --round-border: 10px;
    
    /*colors*/
    --main-color: #de0000;
    --foreground-color: #fffdfc;
    --foter-color: #A30303;

    /*transitions*/
    --transition-forms: all 0.25s ease-out;

    /*font*/
    --font: pretendo, 'Franklin Gothic Medium', Arial, sans-serif;
    --font-2: 'Mark', 'Franklin Gothic Medium', Arial, sans-serif;
}

/* ==================
       Tags
================== */

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    background-color: var(--main-color);
    color: var(--foreground-color);
    font-family: var(--font);
}

header, footer, .content {
    text-align: center;
}

header {
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

header > h1 {
    font-size: 1.6em;
    border: var(--foreground-color) solid 7.5px;
    padding: 6px 12px;
    margin: 10px 0;
    border-radius: 130px;
    font-weight: 400;
}

@media (min-width: 500px) {
    header > h1 {
        font-size: 2.3em;
        padding: 6px 15px;
    }
}

@media (min-width: 1100px) {
    header > h1 {
        font-size: 3em;
        padding: 6px 22px;
        border-width: 10px;
    }
}

footer {
    background-color: var(--foter-color);
    flex: 0 0;
    padding: 10px 0;
}

/* ==================
      Classes
================== */

.content {
    flex: 1 0 auto;
    margin: 5vmin 2.6vmin;
}

.dataCell {
    font-family: var(--font-2);
    font-size: 1.17em;
}

.dataCell > a {
    text-decoration: none;
    color: var(--foreground-color);
}

.dataCell > a > img {
    height: 4.5em;
    filter: invert(1);
}

.dateDate {
    font-weight: bold;
}

.form {
    margin-bottom: 5vmin;
    margin-left: auto;
    margin-right: auto;
    max-width: 55vmin;
    height: 60px;
    position: relative;
    overflow: hidden;
}

.form > label {
    text-align: start;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid var(--foter-color);
}

.form > label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -2px;
    left: 0;
    border-bottom: 3px solid var(--foreground-color);
    transform: translateX(-100%);
    transition: var(--transition-forms);
}

.grid {
    margin: 4em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    gap: 3rem;
    justify-content: center;
}

.search-name {
    position: absolute;
    bottom: 0.8em;
    left: 0;
    transition: var(--transition-forms);
}

.suggestions {
    font-family: var(--font-2);
}

/* ==================
        IDs
================== */

#searchInpt {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--foreground-color);
    font-family: var(--font-2);
    font-size: 1.2em;
}

#searchInpt:focus + label .search-name,
#searchInpt:valid + label .search-name {
    transform: translateY(-200%);
    font-size: 0.85em;
}

#searchInpt:focus + label::after,
#searchInpt:valid + label::after {
    transform: translateX(0);
}
